/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif;*/
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1597ba;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #1597ba;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #1597ba;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #059c73;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}


/*Added Code */
.logo-upscalled-1-icon {
  position: absolute;
  top: 35px;
  left: 29px;
  width: 68.7px;
  height: 61px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: -339px;
  left: 0;
  filter: blur(287px);
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(21, 151, 186, 0.68),
    rgba(30, 182, 139, 0.68)
  );
  border: 0 solid rgba(0, 0, 0, 0.99);
  box-sizing: border-box;
  width: 487px;
  height: 477px;
  z-index: 1;
}
.logo-upscalled-1-parent,
.simtestlab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.simtestlab {
  margin: 0;
  top: 43px;
  left: 108.4px;
  font-size: inherit;
  line-height: 44px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 270.6px;
  height: 44px;
  white-space: nowrap;
  z-index: 2;
}
.frame-container {
  height: 138px;
  width: 487px;
  position: relative;
  max-width: 100%;
}
.about,
.contact,
.home,
.service {
  text-decoration: none;
  height: 16px;
  width: 94.2px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.navbar {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-family: Inika;
}
.frame-group,
.navbar-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.navbar-wrapper {
  width: 560.2px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 58px 0 0;
  box-sizing: border-box;
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.innovative-simulation-testing,
.solutions-for-your {
  margin: 0;
}
.innovative-simulation-testing-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.services-automation-1950x140 {
  height: 462px;
  width: 753px;
  position: absolute;
  margin: 0 !important;
  right: -600px;
  bottom: -284px;
  object-fit: cover;
  z-index: 1;
}
.frame-wrapper1,
.innovative-simulation-testing-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.innovative-simulation-testing-parent {
  flex: 1;
  position: relative;
}
.frame-wrapper1 {
  width: 925px;
  padding: 0 1px;
  box-sizing: border-box;
}
.delivering-accurate-reliable,
.your-products-meet {
  margin: 0;
}
.delivering-accurate-reliable-container {
  align-self: stretch;
  position: relative;
  font-size: 19px;
  font-family: Inter;
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
  max-width: 100%;
}
.menu-child {
  height: 44.8px;
  width: 280.8px;
  position: relative;
  border-radius: 10px;
  display: none;
}
.learn-more,
.menu {
  flex: 1;
  display: flex;
}
.learn-more {
  height: 17.1px;
  position: relative;
  font-size: 22px;
  font-family: Inika;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.menu {
  cursor: pointer;
  border: 0;
  padding: 13.9px 39px 13.8px;
  background-color: #1597ba;
  border-radius: 10px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 183px;
  white-space: nowrap;
}
.menu:hover {
  background-color: #2eb0d4;
}
.counter-child {
  height: 44.8px;
  width: 280.8px;
  position: relative;
  border-radius: 10px;
  display: none;
}
.contact-us {
  height: 17.1px;
  flex: 1;
  position: relative;
  font-size: 22px;
  display: flex;
  font-family: Inika;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.call-to-action,
.call-to-action-wrapper,
.counter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.counter {
  cursor: pointer;
  border: 0;
  padding: 13.9px 39px 13.8px;
  background-color: #1eb68b;
  flex: 1;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 183px;
  white-space: nowrap;
}
.counter:hover {
  background-color: #059c73;
}
.call-to-action,
.call-to-action-wrapper {
  max-width: 100%;
}
.call-to-action {
  flex: 1;
  flex-wrap: wrap;
  gap: 69.5px;
}
.call-to-action-wrapper {
  width: 633.1px;
  padding: 0 1px;
  box-sizing: border-box;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  gap: 81.2px;
}
.frame-div,
.frame-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  width: 992px;
  flex-direction: row;
  padding: 0 28px;
  box-sizing: border-box;
  font-size: 47px;
}
.frame-parent {
  width: 1587.5px;
  flex-direction: column;
  gap: 65px;
  text-align: left;
  font-size: 52px;
  color: #fff;
  font-family: Inika;
}
.mask-group-icon {
  width: 151px;
  height: 148px;
  position: absolute;
  margin: 0 !important;
  top: 956px;
  right: 636px;
  object-fit: contain;
  z-index: 1;
}
.about-us1 {
  margin: 0;
}
.about-us {
  margin: 0;
  width: 189px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.about-us-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
}
.company-history {
  width: 294px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.company-history-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.founded-in-2022 {
  align-self: stretch;
  position: relative;
  font-size: 19px;
  font-family: Inter;
}
.about-us-title-parent,
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent4 {
  align-items: flex-start;
  gap: 12px;
  font-size: 25px;
}
.about-us-title-parent {
  align-items: flex-end;
  gap: 5px;
}
.our-team-members {
  margin: 0;
  width: 383px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.team-members-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
}
.frame-parent3 {
  width: 782px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 65px;
  max-width: 100%;
}
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.mask-group-icon1 {
  height: 148px;
  width: 148px;
  position: absolute;
  margin: 0 !important;
  top: -74px;
  left: calc(50% - 74px);
  object-fit: contain;
  z-index: 1;
}
.frame-item {
  width: 328px;
  height: 311px;
  position: relative;
  border-radius: 18px;
  background-color: rgba(30, 182, 139, 0.8);
  display: none;
  max-width: 100%;
}
.john-doe {
  position: relative;
  z-index: 1;
}
.engineer-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 19px 0 21px;
}
.ensures-that-all,
.oversees-the-entire,
.serves-as-the {
  margin: 0;
}
.oversees-the-entire-container {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  font-family: Inter;
  z-index: 1;
}
.mask-group-parent,
.member,
.rectangle-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent {
  flex: 1;
  border-radius: 18px;
  background-color: rgba(30, 182, 139, 0.8);
  flex-direction: column;
  align-items: flex-end;
  padding: 81px 12px 12px 10px;
  box-sizing: border-box;
  gap: 13px;
}
.mask-group-parent,
.member {
  align-items: flex-start;
}
.mask-group-parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.member {
  flex: 0.9762;
  flex-direction: column;
  padding: 0 8px 0 0;
  box-sizing: border-box;
  min-width: 309px;
}
.mask-group-icon2 {
  height: 148px;
  width: 148px;
  position: absolute;
  margin: 0 !important;
  top: -74px;
  left: calc(50% - 74px);
  object-fit: contain;
  z-index: 1;
}
.member-content-child {
  width: 328px;
  height: 311px;
  position: relative;
  border-radius: 18px;
  background-color: rgba(30, 182, 139, 0.8);
  display: none;
  max-width: 100%;
}
.emily-brown {
  flex: 1;
  position: relative;
  z-index: 1;
}
.member-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 19px 0 21px;
}
.develops-and-sets,
.ensures-that-simulations,
.works-closely-with {
  margin: 0;
}
.develops-and-sets-container {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  font-family: Inter;
  z-index: 1;
}
.mask-group-group,
.member-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.member-content {
  border-radius: 18px;
  background-color: rgba(30, 182, 139, 0.8);
  flex-direction: column;
  align-items: flex-end;
  padding: 81px 11px 12px;
  box-sizing: border-box;
  gap: 6px;
}
.mask-group-group {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  min-width: 302px;
}
.analyst-photo {
  width: calc(100% - 16px);
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 8px;
  bottom: 0;
  left: 8px;
  border-radius: 18px;
  background-color: rgba(30, 182, 139, 0.8);
}
.jane-smith {
  width: 326px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.analyzes-data-generated,
.identifies-trends-weaknesses,
.provides-actionable-insights {
  margin: 0;
}
.analyzes-data-generated-container1 {
  width: 100%;
}
.analyzes-data-generated-container {
  width: 306px;
  position: relative;
  font-size: 18px;
  font-family: Inter;
  display: flex;
  align-items: center;
  z-index: 1;
}
.analyst {
  flex: 0.9709;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 81px 10px 34px 0;
  box-sizing: border-box;
  position: relative;
  gap: 6px;
  min-width: 316px;
  max-width: 100%;
}
.mask-group-icon3 {
  height: 148px;
  width: 151px;
  position: absolute;
  margin: 0 !important;
  top: -74px;
  right: 87px;
  object-fit: contain;
  z-index: 1;
}
.frame-inner {
  width: 328px;
  height: 311px;
  position: relative;
  border-radius: 18px;
  background-color: rgba(30, 182, 139, 0.8);
  display: none;
  max-width: 100%;
}
.john-doe1 {
  position: relative;
  z-index: 1;
}
.john-doe-chief-engineer-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 19px 0 23px;
}
.ensures-that-all1,
.oversees-the-entire1,
.serves-as-the1 {
  margin: 0;
}
.oversees-the-entire-container1 {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  font-family: Inter;
  z-index: 1;
}
.rectangle-group {
  flex: 1;
  border-radius: 18px;
  background-color: rgba(30, 182, 139, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 81px 10px 12px;
  box-sizing: border-box;
  gap: 13px;
  max-width: 100%;
}
.mask-group-container {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  min-width: 302px;
}
.frame-parent2,
.mask-group-container,
.team-grid {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.team-grid {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 37px;
  font-size: 22px;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 119px;
}
.desktop-1,
.desktop-1-inner {
  display: flex;
  box-sizing: border-box;
}
.desktop-1-inner {
  width: 1588px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 69px 0 71px;
  max-width: 100%;
  text-align: center;
  font-size: 41px;
  color: #fff;
  font-family: Inika;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #00072c;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 804px;
  gap: 149px;
  line-height: normal;
  letter-spacing: normal;
}


@keyframes slide {
  0% {
      left: 100%;
  }
  10% {
      left: 0;
  }
  90% {
      left: 0;
  }
  100% {
      left: -100%;
  }
}


@media screen and (max-width: 1275px) {
  .team-grid {
    flex-wrap: wrap;
  }
  .desktop-1-inner {
    padding-left: 35px;
    padding-right: 34px;
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 74px;
  }
}
@media screen and (max-width: 1100px) {
  .navbar {
    display: none;
  }
  .navbar-wrapper {
    width: 0;
  }
  .frame-div {
    gap: 41px;
  }
}
@media screen and (max-width: 750px) {
  .simtestlab {
    font-size: 42px;
    line-height: 35px;
  }
  .innovative-simulation-testing-container {
    font-size: 38px;
  }
  .call-to-action {
    gap: 35px;
  }
  .frame-div {
    gap: 20px;
  }
  .frame-parent {
    gap: 32px;
  }
  .about-us,
  .our-team-members {
    font-size: 33px;
  }
  .frame-parent3 {
    gap: 32px;
  }
  .team-grid {
    gap: 18px;
  }
  .frame-parent2 {
    gap: 59px;
  }
  .desktop-1 {
    gap: 37px;
  }
}
@media screen and (max-width: 450px) {
  .simtestlab {
    font-size: 31px;
    line-height: 26px;
  }
  .innovative-simulation-testing-container {
    font-size: 28px;
  }
  .call-to-action {
    gap: 17px;
  }
  .frame-parent {
    gap: 16px;
  }
  .about-us {
    font-size: 25px;
  }
  .company-history {
    font-size: 20px;
  }
  .our-team-members {
    font-size: 25px;
  }
  .frame-parent3 {
    gap: 16px;
  }
  .john-doe {
    font-size: 18px;
  }
  .member {
    flex: 1;
  }
  .emily-brown,
  .jane-smith {
    font-size: 18px;
  }
  .analyst {
    flex: 1;
  }
  .john-doe1 {
    font-size: 18px;
  }
  .frame-parent2 {
    gap: 30px;
  }
  .desktop-1 {
    gap: 19px;
  }
}