.testimonials {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #287094;
}

.testimonials .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials-item {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 30px;
  color: #012641;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.testimonials-item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  object-fit: cover;
}

.testimonials-item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-item .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-item h3.name {
  font-size: 1.8rem;
  margin: 0;
}

.testimonials-item span.job {
  font-size: 1.2rem;
  color: #666;
}

.testimonials-item p {
  margin-top: 10px;
  color: #666;
  flex-grow: 1;
  font-size: 1.1rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  filter: blur(5px); /* Apply blur to all slides initially */
  opacity: 0.5; /* Reduce opacity of non-active slides */
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.swiper-slide-active {
  filter: blur(0); /* Remove blur from the active slide */
  opacity: 1; /* Full opacity for active slide */
}

.testimonials-content {
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #00cc66;
}

@media (max-width: 768px) {
  .testimonials-item {
    padding: 20px;
  }

  .testimonials-item img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }

  .testimonials-item h3.name {
    font-size: 1.5rem;
  }

  .testimonials-item span.job {
    font-size: 1rem;
  }

  .testimonials-item p {
    margin-top: 15px;
    font-size: 1rem;
  }
}
