/* General Header Styles */
.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Navbar when transparent */
.custom-navbar.navbar-dark {
  background-color: transparent !important;
}

/* Navbar when sticky (white background) */
.custom-navbar.navbar-light.bg-white {
  background-color: rgba(235, 242, 250, 0.85) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar brand styling */
.custom-navbar .navbar-brand {
  display: flex;
  align-items: center;
  padding: 5px;
}

.custom-navbar .navbar-brand img {
  margin-right: 10px;
  margin-left: 10px;
}

/* Center the nav items */
.custom-navbar .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Space between the navbar items */
.custom-navbar .navbar-nav .nav-item {
  margin: 0 20px; /* Adjusted spacing */
}

/* Navbar link styles */
.custom-navbar .navbar-nav .nav-link {
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 8px 10px; /* Smaller padding */
  color: #033F63 !important; /* Default color in non-transparent mode */
}

/* Active state color adjustment for non-transparent mode */
.custom-navbar.navbar-light.bg-white .navbar-nav .nav-item.active .nav-link {
  color: #000000 !important; /* Match the desired active color */
}

/* Hover Effect: Inverse Colors */
.custom-navbar .navbar-nav .nav-link:hover {
  color: #FFFFFF !important;
  background-color: #033F63 !important;
  border-radius: 4px;
}

/* Independent Slider for Active Link */
.custom-navbar .nav-slider {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #000000; /* Blue color from your palette */
  transition: width 0.3s ease, left 0.3s ease;
}

/* Active link slider */
.custom-navbar .navbar-nav .nav-item.active .nav-slider {
  width: 60%;
  margin: auto;
  background-color: #199297; /* Blue color from your palette */
}

/* Transparent mode: set text color to white */
.custom-navbar.navbar-dark .navbar-nav .nav-link {
  color: #EBF2FA !important; /* White color from your palette */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
  .custom-navbar .navbar-nav .nav-item {
    margin: 0 15px; /* Slightly reduced margin for medium screens */
  }
  .custom-navbar .navbar-nav .nav-link {
    padding: 6px 8px; /* Further reduce padding on medium screens */
  }
}

@media (max-width: 768px) {
  .custom-navbar .navbar-nav .nav-item {
    margin: 0 10px; /* Further reduced margin for smaller screens */
  }
  .custom-navbar .navbar-nav .nav-link {
    padding: 4px 6px; /* Minimized padding on small screens */
  }
}
